.home {
    background: linear-gradient(to bottom right, rgba(255,255,255,1), rgba(255,0,0,1));
}
h2 {
    text-align: center;
}
.lajmetEFundit {
    background-color: dodgerblue;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
    border: solid; 
}

.lajmet {
    background-color: darkred;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
    border: solid; 
}

.sport {
    background-color: darkolivegreen;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
    border: solid; 
}

.roze {
    background-color: lightgoldenrodyellow;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
    border: solid; 
}

.shneta {
    background-color: darkturquoise;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
    border: solid; 
}

.fitnesMeFatonin {
    background-color: lightgrey;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
    border: solid; 
}

.opinioneDheEditoriale {
    background-color: slategray;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
    border: solid; 
}

.arte {
    background-color: blueviolet;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
    border: solid; 
}

.fun {
    background-color: lawngreen;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
    border: solid; 
}

.mistere {
    background-color: deepskyblue;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
    border: solid; 
}

.autotech {
    background-color: cornflowerblue;
    text-align:center;
    font-style: italic;
    font-weight: bold;
    border-radius: 20px;
    margin: 2px;
    border: solid; 
}

.merrejep {
    border-radius: 20px;
    margin: 2px;
}
